#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Main Menu
Exec=/usr/bin/gnome-pie -o 278
Encoding=UTF-8
Type=Application
Icon=gnome-pie
StartupWMClass=gnome-pie-278
