#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Main
Exec=/usr/bin/gnome-pie -o 600
Encoding=UTF-8
Type=Application
Icon=feedindicator-active
StartupWMClass=gnome-pie-600
