#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Window
Exec=/usr/bin/gnome-pie -o 758
Encoding=UTF-8
Type=Application
Icon=background
StartupWMClass=gnome-pie-758
