#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Bookmarks
Exec=/usr/bin/gnome-pie -o 952
Encoding=UTF-8
Type=Application
Icon=folder
StartupWMClass=gnome-pie-952
