@import "nord_top_conf"

configuration {
    location: 0;
}

@import "colors/nord"
@import "nord_top_noconf"

window {
    children: [bar, button-bg, mainbox];
}

mainbox {
    padding: 35% calc( 35% + 16px ) 60%;
}

inputbar {
    border: 1px;
    border-radius: 6px 6px 0 0;
}
